    #pk {
        color: #fff;
        cursor: pointer;
        text-decoration: none;
    }
    
    #vs {
        display: none;
    }
    
    #container {
        text-align: center;
        font-size: 2em;
    }
    
    #userinfo,
    #users div:first-child {
        padding-left: 5%;
        border: #aaa 1px solid;
        list-style-type: none;
        border-left: #529 3px solid
    }
    
    #users div:last-child {
        padding-left: 5%;
        border: #aaa 1px solid;
        list-style-type: none;
        border-left: #f66 3px solid
    }

    .dropdown-menu li:hover{
        background-color:rgb(38, 66, 221);
        color:#fff
    }